/* ul {
  padding: 0;
}
.navBarItem {
  text-align: center;
  width: 436px;
  position: fixed;
  bottom: 0;
  margin: 10px 0;
  padding: 10px 40px;
  border-radius: 50%;
}

.navBarItem .ItemBG {
  background-color: rgb(179, 174, 174);
}
.navBarItem a {
  margin: 0px 8px;
}
.navBarItem a svg {
  width: 1.5em;
  height: 1.5em;
} */

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
.container {
  max-width: 100;
  margin: 0 auto;
}

.nav1 {
  position: fixed;
  bottom: 5%;
  width: 300px;
  background-color: rgb(125, 128, 127);
  left: 55%;
  margin-left: -228px;
  padding: 0 2em;
  border-radius: 40px;
}

@media (max-width: 600px) {
  .nav1 {
    position: fixed;
    bottom: 5%;
    width: 300px;
    background-color: rgb(125, 128, 127);
    left: 70%;
    padding: 0 2em;
    border-radius: 40px;
  }
}

.nav1 ul {
  display: flex;
  align-items: center;
}

.nav1 :where(li, a) {
  position: relative;
}

.nav1 ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  padding: 1em;
  width: 50px;
  height: 60px;
}

.nav1 ul li a:hover {
  background-color: rgb(108, 110, 110);
  color: white;
  border-radius: 40%;
}
